.product-grid-item-wrapper {
  width: 160px;

  .product-grid-item-src-wrapper {
    height: 200px;
    overflow: hidden;

    .product-grid-item-src {
      width: 100%;
    }
  }

  .product-grid-item-product-data {
    .product-grid-item-product-title {
      color: #0077e8;
    }
    .product-grid-item-product-category {
      color: #999;
    }
    .product-grid-item-product-rating {
    }
    .product-grid-item-product-price {
      color: #0077e8;
    }
  }
}
