.header-wrapper {
  height: 110px;
  width: 100%;
  padding: 10px;
  display: flex;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  .header-left-part {
    flex: 1;
    display: flex;

    & > div {
      flex: 1;
    }

    .header-left-part-logo-image {
      height: 80px;
      width: 80px;
    }

    .header-left-part-info {
      padding: 0 10px;
      display: flex;

      .header-left-part-info-phone-number-and-operators {
        .header-left-part-info-phone-number {
          padding-right: 5px;
          font-size: 18px;
        }
        .header-left-part-info-operators {
          color: #999;
        }
      }

      .header-left-part-info-help {
        padding-left: 10px;
        display: flex;
        align-items: flex-end;

        a {
          color: #000;
          text-decoration: none;
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }

    .header-left-part-search-input-wrapper {
      padding: 0 10px;
      display: flex;
      align-items: flex-end;
      margin-top: 10px;

      input {
        height: 40px;
        border: 1px solid #999;
        border-radius: 5px 0 0 5px;
        flex: 1;
        padding-left: 20px;
      }

      input:focus, button:focus {
        outline: none;
      }

      button {
        height: 40px;
        width: 45px;
        padding: 5px;
        border: 1px solid #999;
        border-left: none;
        border-radius: 0 5px 5px 0;

        img {
          height: 20px
        }
      }
    }
  }

  .header-right-part {
    .header-right-part-help-info {
      display: flex;
      justify-content: flex-end;

      .header-right-part-help-info-item {
        font-size: 12px;
        color: #999;
        text-decoration: none;
      }

      .header-right-part-help-info-item:hover {
        text-decoration: underline;
      }

      .header-right-part-help-info-item + .header-right-part-help-info-item {
        margin-left: 20px;
      }
    }

    .header-right-part-help-account-info {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;

      .header-right-part-help-account-user-info {
        display: flex;
        align-items: center;
        font-size: 15px;
        margin-right: 30px;

        img {
          height: 25px;
        }
      }

      .header-right-part-help-account-basket {
        font-size: 18px;
        font-weight: 600;
        display: flex;
        align-items: center;

        .header-right-part-help-account-basket-count {
          padding: 5px;
          border: solid 1px #999;
          border-radius: 5px;
          font-weight: normal;
        }
      }
    }
  }
}