.app-wrapper {
  width: 100%;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  font-size: 13px;

  .app {
    width: 1400px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    min-height: 100vh;

    .app-container {
      display: flex;

      .navigation-panel {
        width: 300px;
        min-width: 300px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
        min-height: calc(100vh - 110px);
      }

      .page-content {
        padding: 20px;
        width: 100%;
      }
    }
  }

  input {
    box-sizing: border-box
  }
}

